<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../public/style.css">

</head>
<body>

<h1>Bienvenue dans le grand plateforme de cinéma</h1>
<div>Vous étes series ou films : de toute façon que vous avez besoin :</div>

<body>
</html>