<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../public/style.css">

</head>
<body>
<h1><%= title %></h1>
<div>
<%  for (movie of movies) {%>
<div><%= movie.title %><br><%= movie.year %></div>
    <% } %>
</div>
<div>
<form action="/movies" method="POST">
<label for="titlemovie">Titlemovie</label>
<input type="text" name="titlemovie" id="titlemovie">
<label for="yearmovie">Yearmovie</label>
<input type="text" name="yearmovie" id="yearmovie">
<button>ajouter</button>
</form>
</div>
</body>
</html>