<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../public/style.css">

</head>
<body>
<h1>Details cinema : </h1>
<div>Series: <%= moviesid %></div>
<div>Series: <%= moviesid %></div>
<div>movies:</div>
</body>
</html>